@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projekt zaliczneiowy ZTI</h1>
    <h2>Temat: System rezerwacji biletów </h2>
    <br/>
    <p>Konto administratora: <br/>
        login: admin@test.pl<br />
        hasło: Admin12#
    </p>
    
    
   
</div>

